* {font-family: sans-serif;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    border-radius: 10px;
}
    
#debug {
    font-size: 5px;
}

button:disabled {
    background-color: grey;
}

#duration_input {
    width:80vw;
    font-size: 10vw;
}

#length {
    font-size: 20vw;
}

#timer_toggle_button {
    width: 80vw;
    height: 10vw;
    padding-top: 0;
    margin-top: 3vh;
    font-size: 7vw;
}