<!DOCTYPE html>
<html>
<head>
	<title>Webview Example</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../assets/bootstrap.min.css">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
  <link rel="stylesheet" type="text/css" href="../views/index.css" /> 
</head>

<body>

<form >
  <input type="text" inputmode="numeric" id="duration_input">
  <br>
  <button type="button" onclick="send_toggle_timer()" id="timer_toggle_button">Start Timer</button>

</form>

  <div id="length"></div>

  <div id="debug"></div>

</body>

<script type="text/javascript" src="../main.js"></script>

</html>